@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
* {
    box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
img {
    margin: 0px;
    padding: 0px;
}

fieldset,
img,
abbr,
acronym {
    border: 0;
}

q:before,
q:after {
    content: "";
}

input,
button,
select,
textarea {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
    color: #555;
}

body,
html {
    width: 100%;
    height: 100%;
}

/*css3*/
@-webkit-keyframes alpha01 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
    }
}
@-moz-keyframes alpha01 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
    }
}
@-ms-keyframes alpha01 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
    }
}
@keyframes alpha01 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
    }
}
@-webkit-keyframes alphatop30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-moz-keyframes alphatop30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-ms-keyframes alphatop30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@keyframes alphatop30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-webkit-keyframes alphabottom30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-moz-keyframes alphabottom30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-ms-keyframes alphabottom30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@keyframes alphabottom30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-webkit-keyframes alphleft30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-moz-keyframes alphleft30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-ms-keyframes alphleft30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@keyframes alphleft30 {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(0px);
    }
}
@-webkit-keyframes rotate360 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate360 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes rotate360 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate360 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes cirg1 {
    0% {
        left: -19vw;
        bottom: -18vw;
    }
    50% {
        left: 5vw;
        bottom: 16vw;
    }
    100% {
        left: -19vw;
        bottom: -18vw;
    }
}
@-moz-keyframes cirg1 {
    0% {
        left: -19vw;
        bottom: -18vw;
    }
    50% {
        left: 5vw;
        bottom: 16vw;
    }
    100% {
        left: -19vw;
        bottom: -18vw;
    }
}
@-ms-keyframes cirg1 {
    0% {
        left: -19vw;
        bottom: -18vw;
    }
    50% {
        left: 5vw;
        bottom: 16vw;
    }
    100% {
        left: -19vw;
        bottom: -18vw;
    }
}
@keyframes cirg1 {
    0% {
        left: -19vw;
        bottom: -18vw;
    }
    50% {
        left: 5vw;
        bottom: 16vw;
    }
    100% {
        left: -19vw;
        bottom: -18vw;
    }
}
@-webkit-keyframes cirg1m {
    0% {
        left: -40vw;
        bottom: -18vw;
    }
    50% {
        left: -15vw;
        bottom: 16vw;
    }
    100% {
        left: -40vw;
        bottom: -18vw;
    }
}
@-moz-keyframes cirg1m {
    0% {
        left: -40vw;
        bottom: -18vw;
    }
    50% {
        left: -15vw;
        bottom: 16vw;
    }
    100% {
        left: -40vw;
        bottom: -18vw;
    }
}
@-ms-keyframes cirg1m {
    0% {
        left: -40vw;
        bottom: -18vw;
    }
    50% {
        left: -15vw;
        bottom: 16vw;
    }
    100% {
        left: -40vw;
        bottom: -18vw;
    }
}
@keyframes cirg1m {
    0% {
        left: -40vw;
        bottom: -18vw;
    }
    50% {
        left: -15vw;
        bottom: 16vw;
    }
    100% {
        left: -40vw;
        bottom: -18vw;
    }
}
@-webkit-keyframes cirg2 {
    0% {
        left: 3vw;
        bottom: -16vw;
    }
    25% {
        left: -15vw;
        bottom: -18vw;
    }
    50% {
        left: 10vw;
        bottom: -20vw;
    }
    75% {
        left: 0vw;
        bottom: -16vw;
    }
    100% {
        left: 3vw;
        bottom: -16vw;
    }
}
@-moz-keyframes cirg2 {
    0% {
        left: 3vw;
        bottom: -16vw;
    }
    25% {
        left: -15vw;
        bottom: -18vw;
    }
    50% {
        left: 10vw;
        bottom: -20vw;
    }
    75% {
        left: 0vw;
        bottom: -16vw;
    }
    100% {
        left: 3vw;
        bottom: -16vw;
    }
}
@-ms-keyframes cirg2 {
    0% {
        left: 3vw;
        bottom: -16vw;
    }
    25% {
        left: -15vw;
        bottom: -18vw;
    }
    50% {
        left: 10vw;
        bottom: -20vw;
    }
    75% {
        left: 0vw;
        bottom: -16vw;
    }
    100% {
        left: 3vw;
        bottom: -16vw;
    }
}
@keyframes cirg2 {
    0% {
        left: 3vw;
        bottom: -16vw;
    }
    25% {
        left: -15vw;
        bottom: -18vw;
    }
    50% {
        left: 10vw;
        bottom: -20vw;
    }
    75% {
        left: 0vw;
        bottom: -16vw;
    }
    100% {
        left: 3vw;
        bottom: -16vw;
    }
}
@-webkit-keyframes cirg2m {
    0% {
        left: 60vw;
        bottom: -15vw;
    }
    25% {
        left: -30vw;
        bottom: -30vw;
    }
    50% {
        left: 10vw;
        bottom: -10vw;
    }
    75% {
        left: 0vw;
        bottom: -40vw;
    }
    100% {
        left: 60vw;
        bottom: -15vw;
    }
}
@-moz-keyframes cirg2m {
    0% {
        left: 60vw;
        bottom: -15vw;
    }
    25% {
        left: -30vw;
        bottom: -30vw;
    }
    50% {
        left: 10vw;
        bottom: -10vw;
    }
    75% {
        left: 0vw;
        bottom: -40vw;
    }
    100% {
        left: 60vw;
        bottom: -15vw;
    }
}
@-ms-keyframes cirg2m {
    0% {
        left: 60vw;
        bottom: -15vw;
    }
    25% {
        left: -30vw;
        bottom: -30vw;
    }
    50% {
        left: 10vw;
        bottom: -10vw;
    }
    75% {
        left: 0vw;
        bottom: -40vw;
    }
    100% {
        left: 60vw;
        bottom: -15vw;
    }
}
@keyframes cirg2m {
    0% {
        left: 60vw;
        bottom: -15vw;
    }
    25% {
        left: -30vw;
        bottom: -30vw;
    }
    50% {
        left: 10vw;
        bottom: -10vw;
    }
    75% {
        left: 0vw;
        bottom: -40vw;
    }
    100% {
        left: 60vw;
        bottom: -15vw;
    }
}
@-webkit-keyframes cirg3 {
    0% {
        right: -20vw;
        top: -20vw;
    }
    50% {
        right: -5vw;
        top: -25vw;
    }
    80% {
        right: -30vw;
        top: -20vw;
    }
    100% {
        right: -30vw;
        top: -20vw;
    }
}
@-moz-keyframes cirg3 {
    0% {
        right: -20vw;
        top: -20vw;
    }
    50% {
        right: -5vw;
        top: -25vw;
    }
    80% {
        right: -30vw;
        top: -20vw;
    }
    100% {
        right: -30vw;
        top: -20vw;
    }
}
@-ms-keyframes cirg3 {
    0% {
        right: -20vw;
        top: -20vw;
    }
    50% {
        right: -5vw;
        top: -25vw;
    }
    80% {
        right: -30vw;
        top: -20vw;
    }
    100% {
        right: -30vw;
        top: -20vw;
    }
}
@keyframes cirg3 {
    0% {
        right: -20vw;
        top: -20vw;
    }
    50% {
        right: -5vw;
        top: -25vw;
    }
    80% {
        right: -30vw;
        top: -20vw;
    }
    100% {
        right: -30vw;
        top: -20vw;
    }
}
@-webkit-keyframes cirg3m {
    0% {
        right: -40vw;
        top: -30vw;
    }
    50% {
        right: -5vw;
        top: -20vw;
    }
    80% {
        right: -30vw;
        top: -10vw;
    }
    100% {
        right: -40vw;
        top: -30vw;
    }
}
@-moz-keyframes cirg3m {
    0% {
        right: -40vw;
        top: -30vw;
    }
    50% {
        right: -5vw;
        top: -20vw;
    }
    80% {
        right: -30vw;
        top: -10vw;
    }
    100% {
        right: -40vw;
        top: -30vw;
    }
}
@-ms-keyframes cirg3m {
    0% {
        right: -40vw;
        top: -30vw;
    }
    50% {
        right: -5vw;
        top: -20vw;
    }
    80% {
        right: -30vw;
        top: -10vw;
    }
    100% {
        right: -40vw;
        top: -30vw;
    }
}
@keyframes cirg3m {
    0% {
        right: -40vw;
        top: -30vw;
    }
    50% {
        right: -5vw;
        top: -20vw;
    }
    80% {
        right: -30vw;
        top: -10vw;
    }
    100% {
        right: -40vw;
        top: -30vw;
    }
}
@-webkit-keyframes cirg4 {
    0% {
        right: 10vw;
        top: 25vw;
    }
    50% {
        right: -12vw;
        top: 10vw;
    }
    100% {
        right: 10vw;
        top: 25vw;
    }
}
@-moz-keyframes cirg4 {
    0% {
        right: 10vw;
        top: 25vw;
    }
    50% {
        right: -12vw;
        top: 10vw;
    }
    100% {
        right: 10vw;
        top: 25vw;
    }
}
@-ms-keyframes cirg4 {
    0% {
        right: 10vw;
        top: 25vw;
    }
    50% {
        right: -12vw;
        top: 10vw;
    }
    100% {
        right: 10vw;
        top: 25vw;
    }
}
@keyframes cirg4 {
    0% {
        right: 10vw;
        top: 25vw;
    }
    50% {
        right: -12vw;
        top: 10vw;
    }
    100% {
        right: 10vw;
        top: 25vw;
    }
}
@-webkit-keyframes cirg4m {
    0% {
        right: 60vw;
        top: 25vw;
    }
    50% {
        right: -20vw;
        top: 0vw;
    }
    100% {
        right: 60vw;
        top: 25vw;
    }
}
@-moz-keyframes cirg4m {
    0% {
        right: 60vw;
        top: 25vw;
    }
    50% {
        right: -20vw;
        top: 0vw;
    }
    100% {
        right: 60vw;
        top: 25vw;
    }
}
@-ms-keyframes cirg4m {
    0% {
        right: 60vw;
        top: 25vw;
    }
    50% {
        right: -20vw;
        top: 0vw;
    }
    100% {
        right: 60vw;
        top: 25vw;
    }
}
@keyframes cirg4m {
    0% {
        right: 60vw;
        top: 25vw;
    }
    50% {
        right: -20vw;
        top: 0vw;
    }
    100% {
        right: 60vw;
        top: 25vw;
    }
}
header {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}
header svg {
    display: block;
}
header .txt h1 {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
header .txt svg {
    width: 120px;
    height: auto;
}
@media (min-width: 768px) {
    header .txt svg {
        width: initial;
    }
}
header .logo-icon {
    margin-right: 15px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        135deg,
        #31a851 0%,
        #8dbe32 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 0px 0px 15px 0;
}
header .logo-icon svg {
    width: 26px;
    height: auto;
}
@media (min-width: 768px) {
    header .logo-icon {
        width: 60px;
        height: 60px;
        border-radius: 0px 0px 20px 0;
    }
    header .logo-icon svg {
        width: initial;
    }
}

.s1-filter-area {
    display: flex;
    position: relative;
    z-index: 5;
    flex-direction: column;
    padding: 60px 20px 40px 20px;
}
@media (min-width: 768px) {
    .s1-filter-area {
        padding: 80px 20px 40px 20px;
    }
}
@media (min-width: 1024px) {
    .s1-filter-area {
        padding: 80px 40px;
        height: 100dvh;
        flex-direction: row;
    }
}
@media (min-width: 1280px) {
    .s1-filter-area {
        padding: 80px 4vw;
    }
}
@media (min-width: 1600px) {
    .s1-filter-area {
        padding: 80px 8vw;
    }
}
.s1-filter-area .map-area {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 10px;
    margin-right: 0px;
    width: 100%;
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
    height: 500px;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=100);
    animation: alphatop30 0.5s 0.5s forwards linear;
}
@media (min-width: 768px) {
    .s1-filter-area .map-area {
        height: 660px;
        padding: 20px;
    }
}
@media (min-width: 1024px) {
    .s1-filter-area .map-area {
        height: initial;
        margin-right: 20px;
        margin-bottom: 0;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .s1-filter-area .map-area:hover {
        background: rgb(255, 255, 255);
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}
@media (min-width: 1600px) {
    .s1-filter-area .map-area {
        margin-right: 30px;
    }
}
.s1-filter-area .map-area img,
.s1-filter-area .map-area iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.s1-filter-area .filter-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=100);
    animation: alphleft30 0.5s 0.5s forwards linear;
}
@media (min-width: 1024px) {
    .s1-filter-area .filter-area {
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .s1-filter-area .filter-area:hover {
        background: rgb(255, 255, 255);
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}
@media (min-width: 1280px) {
    .s1-filter-area .filter-area {
        flex: 0 0 auto;
        width: 400px;
    }
}
@media (min-width: 1600px) {
    .s1-filter-area .filter-area {
        width: 500px;
    }
}
.s1-filter-area .filter-area .ali-sp {
    height: calc(100% - 91px);
}
@media (min-width: 1600px) {
    .s1-filter-area .filter-area .ali-sp {
        height: calc(100% - 100px);
    }
}
.s1-filter-area .filter-area .top-btn-area ul {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .top-btn-area ul {
        padding: 20px;
    }
}
.s1-filter-area .filter-area .top-btn-area ul li {
    cursor: pointer;
    list-style: none;
    width: calc(33.3333333333% - 6.6666666667px);
    color: #fff;
    text-align: center;
    padding: 8px 5px;
    background: #8dbe32;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 14px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .top-btn-area ul li {
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 10px;
    }
}
@media (min-width: 1024px) {
    .s1-filter-area .filter-area .top-btn-area ul li {
        padding: 10px 6px;
        font-size: 16px;
    }
    .s1-filter-area .filter-area .top-btn-area ul li:hover {
        background: #3a8458;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}
@media (min-width: 1600px) {
    .s1-filter-area .filter-area .top-btn-area ul li {
        padding: 10px 15px;
        font-size: 18px;
    }
}
.s1-filter-area .filter-area .top-btn-area ul li:nth-child(3n) {
    margin-right: 0;
}
.s1-filter-area .filter-area .filter-main {
    max-height: calc(100% - 87px);
    padding: 15px;
    overflow: auto;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .filter-main {
        padding: 20px;
    }
}
.s1-filter-area .filter-area .filter-main .item-set {
    margin-bottom: 15px;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .filter-main .item-set {
        margin-bottom: 20px;
    }
}
.s1-filter-area .filter-area .filter-main .item-set.marb_10 {
    margin-bottom: 10px;
}
.s1-filter-area .filter-area .filter-main .item-set:last-child {
    margin-bottom: 0;
}
.s1-filter-area .filter-area .filter-main .item-set h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .filter-main .item-set h2 {
        font-size: 18px;
    }
}
.s1-filter-area .filter-area .filter-main .item-set input,
.s1-filter-area .filter-area .filter-main .item-set select {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #eeeeee;
    padding: 0px 15px;
    background-color: #fff;
    font-size: 16px;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .filter-main .item-set input,
    .s1-filter-area .filter-area .filter-main .item-set select {
        height: 50px;
    }
}
@media (min-width: 1600px) {
    .s1-filter-area .filter-area .filter-main .item-set input,
    .s1-filter-area .filter-area .filter-main .item-set select {
        height: 60px;
    }
}
.s1-filter-area .filter-area .filter-main .item-set .mark {
    display: block;
    margin: 0px 5px;
}
.s1-filter-area .filter-area .filter-main .item-set select {
    appearance: none;
    background: url("../../public/images/selectar.svg") right 15px top 50%
        no-repeat;
    background-color: #fff;
}
.s1-filter-area .filter-area .filter-main .item-set .flex-date {
    display: flex;
    align-items: center;
}
.s1-filter-area .filter-area .filter-main .item-set .month-select {
    display: flex;
    flex-wrap: wrap;
}
.s1-filter-area .filter-area .filter-main .item-set .month-select li {
    width: calc(16.6666666667% - 5px);
    border-radius: 8px;
    list-style: none;
    border: 1px solid #3a8458;
    padding: 8px 5px;
    font-size: 14px;
    color: #3a8458;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
    margin-bottom: 6px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .filter-main .item-set .month-select li {
        width: calc(16.6666666667% - 8.3333333333px);
        font-size: 16px;
        padding: 8px 6px;
        border-radius: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .month-select
    li:nth-child(6n) {
    margin-right: 0;
}
@media (min-width: 1280px) {
    .s1-filter-area .filter-area .filter-main .item-set .month-select li:hover {
        background: #3a8458;
        color: #fff;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}
.s1-filter-area .filter-area .filter-main .item-set .month-select li.now {
    background: #3a8458;
    color: #fff;
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .multiple-select
    .select2-container--default
    .select2-selection--multiple {
    width: 100%;
    border: 1px solid #ddd;
    background: url("../../public/images/selectar.svg") right 15px top 50%
        no-repeat;
    background-color: #fff;
    min-height: 45px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    padding-bottom: 5px;
}
@media (min-width: 768px) {
    .s1-filter-area
        .filter-area
        .filter-main
        .item-set
        .multiple-select
        .select2-container--default
        .select2-selection--multiple {
        min-height: 60px;
        padding-bottom: 10px;
    }
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .multiple-select
    .select2-container
    .select2-search--inline
    .select2-search__field {
    margin-top: 11px;
    margin-left: 5px;
}
@media (min-width: 768px) {
    .s1-filter-area
        .filter-area
        .filter-main
        .item-set
        .multiple-select
        .select2-container
        .select2-search--inline
        .select2-search__field {
        margin-top: 18px;
    }
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .multiple-select
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background: #3a8458;
    color: #fff;
    border: 0;
    padding: 5px 22px 5px 12px;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}
@media (min-width: 768px) {
    .s1-filter-area
        .filter-area
        .filter-main
        .item-set
        .multiple-select
        .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice {
        padding: 6px 25px 6px 15px;
        margin-top: 10px;
        font-size: 16px;
    }
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .multiple-select
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    border: 0;
    right: 5px;
    left: inherit;
    color: #fff;
    top: 50%;
    margin-top: -10px;
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .multiple-select
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove
    span {
    font-size: 18px;
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .multiple-select
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove:hover {
    background: none;
    color: #fff;
}
.s1-filter-area
    .filter-area
    .filter-main
    .item-set
    .multiple-select
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__display {
    padding: 0;
    line-height: 25px;
}
.s1-filter-area .filter-area .bottom-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #eee;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .bottom-area {
        padding: 20px;
    }
}
.s1-filter-area .filter-area .bottom-area .clean-btn {
    cursor: pointer;
    padding: 0px 15px;
    color: #3a8458;
    border: 1px solid #3a8458;
    height: 45px;
    background: none;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 16px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    flex: 0 0 auto;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .bottom-area .clean-btn {
        height: 50px;
        font-size: 18px;
        padding: 0px 20px;
    }
}
@media (min-width: 1280px) {
    .s1-filter-area .filter-area .bottom-area .clean-btn:hover {
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        background: #3a8458;
        color: #fff;
    }
}
@media (min-width: 1600px) {
    .s1-filter-area .filter-area .bottom-area .clean-btn {
        height: 60px;
    }
}
.s1-filter-area .filter-area .bottom-area .search-btn {
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    height: 45px;
    border: 0;
    color: #fff;
    padding: 0px 15px;
    background: #3a8458;
}
@media (min-width: 768px) {
    .s1-filter-area .filter-area .bottom-area .search-btn {
        height: 50px;
        font-size: 18px;
        padding: 0px 20px;
    }
}
@media (min-width: 1280px) {
    .s1-filter-area .filter-area .bottom-area .search-btn:hover {
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        background: #8dbe32;
    }
}
@media (min-width: 1600px) {
    .s1-filter-area .filter-area .bottom-area .search-btn {
        height: 60px;
    }
}

.s2-result {
    display: none;
    width: 100%;
    position: relative;
    z-index: 5;
    padding: 60px 20px 60px 20px;
}
@media (min-width: 1024px) {
    .s2-result {
        padding: 60px 40px;
    }
}
@media (min-width: 1280px) {
    .s2-result {
        padding: 60px 4vw;
    }
}
@media (min-width: 1600px) {
    .s2-result {
        padding: 60px 8vw;
    }
}
.s2-result .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.s2-result .title-box h2 {
    text-align: center;
    font-size: 35px;
    color: #3a8458;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.s2-result .title-box .line {
    width: 80px;
    height: 2px;
    border-radius: 4px;
    background: #8dbe32;
}
.s2-result .wbox {
    width: 100%;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    padding: 15px;
    border-radius: 15px;
}
@media (min-width: 768px) {
    .s2-result .wbox {
        padding: 20px;
    }
}
@media (min-width: 1024px) {
    .s2-result .wbox {
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        background: rgba(255, 255, 255, 0.8);
    }
    .s2-result .wbox:hover {
        background: rgb(255, 255, 255);
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}
.s2-result .top-item-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .s2-result .top-item-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.s2-result .top-item-flex .right-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.s2-result .top-item-flex .right-box p {
    color: #888;
    font-size: 14px;
}
@media (min-width: 768px) {
    .s2-result .top-item-flex .right-box p {
        font-size: 16px;
    }
}
.s2-result .flex-wbox2 {
    display: block;
}
@media (min-width: 1024px) {
    .s2-result .flex-wbox2 {
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 1024px) {
    .s2-result .flex-wbox2 .wbox {
        width: calc(50% - 15px);
    }
}

.bg-ani-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-ani-fixed img {
    width: 100%;
    height: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=100);
    display: block;
    animation: alpha01 0.5s 0.3s forwards linear;
}
.bg-ani-fixed .cirg1 {
    position: absolute;
    left: -40vw;
    bottom: -18vw;
    animation: cirg1m 15s 0s infinite linear;
    width: 110vw;
}
@media (min-width: 1024px) {
    .bg-ani-fixed .cirg1 {
        left: -19vw;
        bottom: -18vw;
        width: 51vw;
        animation: cirg1 22s 0s infinite linear;
    }
}
.bg-ani-fixed .cirg2 {
    position: absolute;
    left: 60vw;
    bottom: -15vw;
    animation: cirg2m 18s 0s infinite linear;
    width: 90vw;
}
@media (min-width: 1024px) {
    .bg-ani-fixed .cirg2 {
        width: 45vw;
        left: 3vw;
        bottom: -16vw;
        animation: cirg2 15s 0s infinite linear;
    }
}
.bg-ani-fixed .cirg3 {
    position: absolute;
    right: -40vw;
    top: -30vw;
    width: 90vw;
    animation: cirg3m 20s 0s infinite linear;
}
@media (min-width: 1024px) {
    .bg-ani-fixed .cirg3 {
        right: -30vw;
        top: -20vw;
        animation: cirg3 20s 0s infinite linear;
        width: 65vw;
    }
}
.bg-ani-fixed .cirg4 {
    position: absolute;
    right: 60vw;
    top: 25vw;
    animation: cirg4m 20s 0s infinite linear;
    width: 70vw;
}
@media (min-width: 1024px) {
    .bg-ani-fixed .cirg4 {
        width: 36vw;
        right: 10vw;
        top: 25vw;
        animation: cirg4 18s 0s infinite linear;
    }
}

.page-inf {
    display: flex;
    align-items: center;
    color: #888;
    font-size: 14px;
}
@media (min-width: 1024px) {
    .page-inf {
        font-size: 16px;
    }
}
.page-inf select {
    width: 70px;
    border-radius: 10px;
    border: 1px solid #eee;
    height: 40px;
    appearance: none;
    background: url("../../public/images/selectar.svg") right 15px top 50%
        no-repeat;
    background-color: #fff;
    margin: 0px 5px;
    display: block;
    padding: 0px 10px;
    font-size: 14px;
}
@media (min-width: 1024px) {
    .page-inf select {
        font-size: 16px;
    }
}

.link-area {
    display: flex;
    flex-wrap: wrap;
}
.link-area a {
    font-size: 14px;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #3a8458;
    color: #3a8458;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
@media (min-width: 768px) {
    .link-area a {
        font-size: 16px;
        padding: 8px 12px;
    }
}
@media (min-width: 1024px) {
    .link-area a:hover {
        background: #3a8458;
        color: #fff;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}

.table-style1 {
    width: 800px;
}
@media (min-width: 768px) {
    .table-style1 {
        width: 100%;
    }
}
.table-style1 td {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.table-style1 tr:nth-child(odd) td {
    background: #f7f7f7;
}
.table-style1 tr:first-child td {
    font-size: 16px;
    background: #3a8458;
    color: #fff;
    font-weight: bold;
}
.table-style1 tr:first-child td:first-child {
    border-radius: 10px 0px 0px 10px;
}
.table-style1 tr:first-child td:last-child {
    border-radius: 0px 10px 10px 0px;
}
@media (min-width: 768px) {
    .table-style1 tr:first-child td {
        font-size: 18px;
    }
}
.table-style1 tr:last-child td {
    border-bottom: 1px solid #3a8458;
}

.table-style2 {
    width: 800px;
}
@media (min-width: 768px) {
    .table-style2 {
        width: 100%;
    }
}
.table-style2 td {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}
.table-style2 tr:first-child td {
    font-size: 16px;
    background: #3a8458;
    color: #fff;
    font-weight: bold;
}
.table-style2 tr:first-child td:first-child {
    border-radius: 10px 0px 0px 10px;
}
.table-style2 tr:first-child td:last-child {
    border-radius: 0px 10px 10px 0px;
}
@media (min-width: 768px) {
    .table-style2 tr:first-child td {
        font-size: 18px;
    }
}
.table-style2 tr:last-child td {
    border-bottom: 1px solid #3a8458;
}

.mb-scroll {
    width: 100%;
    overflow: auto;
}

.page-number {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.page-number a {
    margin: 0px 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
@media (min-width: 1024px) {
    .page-number a:hover {
        background: #3a8458;
        color: #fff;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}
.page-number .now {
    background: #8dbe32;
    color: #fff;
}
.page-number .now:hover {
    background: #8dbe32;
    color: #fff;
}
.page-number .prev,
.page-number .next {
    background: none;
    border: 1px solid #3a8458;
}
.page-number .prev svg path,
.page-number .next svg path {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
@media (min-width: 1024px) {
    .page-number .prev:hover svg path,
    .page-number .next:hover svg path {
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        fill: #fff;
    }
}

.sq-item {
    width: 100%;
}
.sq-item img,
.sq-item iframe {
    width: 100%;
    height: 100%;
    display: block;
}
@media (min-width: 1024px) {
    .sq-item img,
    .sq-item iframe {
        min-height: 400px;
    }
}

.cta-short-txt {
    padding-top: 20px;
}
.cta-short-txt h2 {
    font-size: 18px;
    color: #064a2f;
    text-align: center;
}

.footerbox {
    width: 100%;
    background: linear-gradient(135deg, #8dbe32 0%, #31a851 100%);
    padding: 10px 20px;
}
.footerbox h6 {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}

.pop-area {
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
.pop-area .rel {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.pop-area .center-box {
    width: 100%;
    max-width: 800px;
    background: #fff;
    border-radius: 15px;
    position: relative;
    padding: 20px;
}
.pop-area .center-box .pop-title {
    text-align: center;
    color: #3a8458;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.pop-area .center-box .xx {
    cursor: pointer;
    position: absolute;
    right: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    background: #3a8458;
    border-radius: 50%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.pop-area .center-box .xx svg {
    width: 16px;
    height: auto;
}
.pop-area .center-box .xx:hover {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background: #8dbe32;
}
.pop-area .center-box .short-right {
    text-align: right;
    color: #db6363;
}
.pop-area .center-box .short-right span {
    color: #888;
    font-size: 14px;
}
.pop-area .center-box .send-btn {
    background: #3a8458;
    padding: 10px;
    color: #fff;
    width: 200px;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 30px;
    height: 50px;
    display: block;
    margin-top: 20px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.pop-area .center-box .send-btn:hover {
    background: #8dbe32;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.pop-area .center-box .polybox {
    border: 1px solid #eeeeee;
    padding: 15px;
    background-color: #fff;
    height: 120px;
    resize: none;
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 10px;
}
.pop-area .center-box .input-flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.pop-area .center-box .input-flex p {
    flex: 0 0 auto;
    min-width: 110px;
}
.pop-area .center-box .input-flex input,
.pop-area .center-box .input-flex select {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #eeeeee;
    padding: 0px 15px;
    background-color: #fff;
    font-size: 16px;
}
@media (min-width: 768px) {
    .pop-area .center-box .input-flex input,
    .pop-area .center-box .input-flex select {
        height: 50px;
    }
}
.pop-area .center-box .input-flex select {
    appearance: none;
    background: url("../../public/images/selectar.svg") right 15px top 50%
        no-repeat;
    background-color: #fff;
}

@media (min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #3a8458;
    }
}
body {
    background: #f7f7f7;
    font-family: "Arial", "Noto Sans TC", sans-serif;
    color: #555;
    font-size: 18px;
}
@media only screen and (max-width: 999px) {
    body {
        font-size: 16px;
    }
}

/*# sourceMappingURL=theme.css.map */
