@use "../base/mixin" as *;

header{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  svg{
    display: block;
  }
  .txt{
    h1{
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0 0 0 0) !important;
      white-space: nowrap !important;
      border: 0 !important;
    }
    svg{
      width: 120px;
      height: auto;
      @include respond(tablet) {
        width: initial;
      }
    }
  }
  .logo-icon{
    margin-right: 15px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,  #31a851 0%,#8dbe32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 0px 0px 15px 0;
    svg{
      width: 26px;
      height: auto;
    }
    @include respond(tablet) {
      width: 60px;
      height: 60px;
      border-radius: 0px 0px 20px 0;
      svg{
        width: initial;
      }
    }
  }
}
.s1-filter-area{
  display: flex;
  position: relative;
  z-index: 5;
  flex-direction: column;
  padding: 60px 20px 40px 20px;
  @include respond(tablet) {
    padding: 80px 20px 40px 20px;
  }
  @include respond(laptop) {
    padding: 80px 40px;
    height: 100dvh;
    flex-direction: row;
  }
  @include respond(desktop) {
    padding: 80px 4vw;
  }
  @include respond(desktop-xl) {
    padding: 80px 8vw;
  }
  .map-area{
    background: rgba(255,255,255,0.7);
    border-radius: 15px;
    padding: 10px;
    margin-right: 0px;
    width: 100%;
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
    height: 500px;
    @include alpha(0);
    animation: alphatop30 0.5s 0.5s forwards linear;
    @include respond(tablet) {
      height:  660px;
      padding: 20px;
    }
    @include respond(laptop) {
      height: initial;
      margin-right: 20px;
      margin-bottom: 0;
      @include bg_change(0.3s);
      &:hover{
        background: rgba(255,255,255,1);
        @include bg_change(0.3s);
      }
    }
    @include respond(desktop-xl) {
      margin-right: 30px;
    }
    img,iframe{
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .filter-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    @include alpha(0);
    animation: alphleft30 0.5s 0.5s forwards linear;
    @include respond(laptop) {
      @include bg_change(0.3s);
      &:hover{
        background: rgba(255,255,255,1);
        @include bg_change(0.3s);
      }
    }
    @include respond(desktop) {
      flex: 0 0 auto;
      width: 400px;
    }
    @include respond(desktop-xl) {
      width: 500px;
    }
    .ali-sp{
      height:calc(100% - 91px);
      @include respond(desktop-xl) {
        height:calc(100% - 100px);
      }
    }
    .top-btn-area{
      ul{
        display: flex;
        padding: 15px;
        border-bottom: 1px solid #EEEEEE;
        @include respond(tablet) {
          padding: 20px;
        }
        li{
          cursor: pointer;
          list-style: none;
          width: calc(1/3*100% - 20/3*1px);
          color: #FFF;
          text-align: center;
          padding: 8px 5px;
          background: $col-green1;
          border-radius: 8px;
          margin-right: 10px;
          font-size: 14px;
          @include bg_change(0.3s);
          @include respond(tablet) {
            padding: 10px 15px;
            font-size: 16px;
            border-radius: 10px;
          }
          @include respond(laptop) {
            padding:10px 6px;
            font-size: 16px;
            &:hover{
              background: $col-green2;
              @include bg_change(0.3s);
            }
          }
          @include respond(desktop-xl) {
            padding: 10px 15px;
            font-size: 18px;
          }
          &:nth-child(3n){
            margin-right: 0;
          }
        }
      }
    }
    .filter-main{
      max-height: calc(100% - 87px);
      padding: 15px;
      overflow: auto;
      @include respond(tablet) {
        padding: 20px;
      }
      .item-set{
        margin-bottom: 15px;
        @include respond(tablet) {
          margin-bottom: 20px;
        }
        &.marb_10{
          margin-bottom: 10px;
        }
        &:last-child{
          margin-bottom: 0;
        }
        h2{
          font-size: 16px;
          color: #333;
          margin-bottom: 10px;
          @include respond(tablet) {
            font-size: 18px;
          }
        }
        input,select{
          cursor: pointer;
          border-radius: 10px;
          width: 100%;
          height: 45px;
          border: 1px solid #EEEEEE;
          padding: 0px 15px;
          background-color:#FFF ;
          font-size: 16px;
          @include respond(tablet) {
            height: 50px;
          }
          @include respond(desktop-xl) {
            height: 60px;
          }
        }
        .mark{
          display: block;
          margin: 0px 5px;
        }
        select{
          appearance: none;
          background: url("../image/selectar.svg") right 15px top 50% no-repeat;
          background-color:#FFF ;
        }
        .flex-date{
          display: flex;
          align-items: center;
        }
        .month-select{
          display: flex;
          flex-wrap: wrap;
          li{
            width: calc(1/6*100% - 30/6*1px);
            border-radius: 8px;
            list-style: none;
            border: 1px solid $col-green2;
            padding:8px 5px;
            font-size: 14px;
            color:$col-green2;
            text-align: center;
            margin-right: 6px;
            cursor: pointer;
            margin-bottom: 6px;
            @include bg_change(0.3s);
            @include respond(tablet) {
              width: calc(1/6*100% - 50/6*1px);
              font-size: 16px;
              padding:8px 6px;
              border-radius: 10px;
              margin-right: 10px;
              margin-bottom: 10px;
            }
            &:nth-child(6n){
              margin-right: 0;
            }
            @include respond(desktop) {
              &:hover {
                background: $col-green2;
                color: #FFF;
                @include bg_change(0.3s);
              }
            }
            &.now{
              background: $col-green2;
              color: #FFF;
            }
          }
        }
        .multiple-select{
          .select2-container--default .select2-selection--multiple{
            width: 100%;
            border: 1px solid #ddd;
            background: url(../image/selectar.svg) right 15px top 50% no-repeat;
            background-color:#FFF ;
            min-height: 45px;
            border-radius: 5px;
            font-size: 16px;
            display: flex;
            padding-bottom: 5px;
            @include respond(tablet) {
              min-height: 60px;
              padding-bottom: 10px;
            }
          }
          .select2-container .select2-search--inline .select2-search__field{
            margin-top: 11px;
            margin-left: 5px;
            @include respond(tablet) {
              margin-top: 18px;
            }
          }
          .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background: $col-green2;
            color: #FFF;
            border: 0;
            padding: 5px 22px 5px 12px;
            border-radius: 20px;
            margin-bottom: 0px;
            margin-top: 5px;
            margin-left: 5px;
            font-size: 14px;
            @include respond(tablet) {
              padding: 6px 25px 6px 15px;
              margin-top: 10px;
              font-size: 16px;
            }
          }
          .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
            border: 0;
            right: 5px;
            left: inherit;
            color: #FFF;
            top: 50%;
            margin-top: -10px;
            span{
              font-size: 18px;
            }
            &:hover{
              background: none;
              color: #FFF;
            }
          }
          .select2-container--default .select2-selection--multiple .select2-selection__choice__display{
            padding: 0;
            line-height: 25px;
          }
        }
      }
    }
    .bottom-area{
      display: flex;
      padding: 15px;
      border-top: 1px solid #eee;
      @include respond(tablet) {
        padding: 20px;
      }
      .clean-btn{
        cursor: pointer;
        padding: 0px 15px;
        color: $col-green2;
        border: 1px solid $col-green2;
        height: 45px;
        background: none;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 16px;
        @include bg_change(0.3s);
        flex: 0 0 auto;
        @include respond(tablet) {
          height: 50px;
          font-size: 18px;
          padding: 0px 20px;
        }
        @include respond(desktop) {
          &:hover{
            @include bg_change(0.3s);
            background: $col-green2;
            color: #FFF;
          }
        }
        @include respond(desktop-xl) {
          height: 60px;
        }
      }
      .search-btn{
        cursor: pointer;
        @include bg_change(0.3s);
        font-size: 16px;
        width: 100%;
        border-radius: 10px;
        height: 45px;
        border: 0;
        color: #FFF;
        padding: 0px 15px;
        background: $col-green2;
        @include respond(tablet) {
          height: 50px;
          font-size: 18px;
          padding: 0px 20px;
        }
        @include respond(desktop) {
          &:hover{
            @include bg_change(0.3s);
            background: $col-green1;
          }
        }
        @include respond(desktop-xl) {
          height: 60px;
        }
      }
    }
  }
}
.s2-result{
  display: none;
  width: 100%;
  position: relative;
  z-index: 5;
  padding: 60px 20px 60px 20px;

  @include respond(laptop) {
    padding: 60px 40px;
  }
  @include respond(desktop) {
    padding:60px 4vw;
  }
  @include respond(desktop-xl) {
    padding: 60px 8vw;
  }
  .title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    h2{
      text-align: center;
      font-size: 35px;
      color: $col-green2;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .line{
      width: 80px;
      height: 2px;
      border-radius: 4px;
      background: $col-green1;
    }
  }
  .wbox{
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 8px rgba(0,0,0,0.06);
    padding: 15px;
    border-radius: 15px;
    @include respond(tablet) {
      padding: 20px;
    }
    @include respond(laptop) {
      @include bg_change(0.3s);
      background: rgba(255,255,255,0.8);
      &:hover {
        background: rgba(255,255,255,1);
        @include bg_change(0.3s);
      }
    }
  }
  .top-item-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @include respond(tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .right-box{
      margin-top: 10px;
      display: flex;
      align-items: center;
      p{
        color: #888;
        font-size: 14px;
        @include respond(tablet) {
          font-size: 16px;
        }
      }
    }
  }
  .flex-wbox2{
    display: block;
    @include respond(laptop) {
      display: flex;
      justify-content: space-between;
    }
    .wbox{
      @include respond(laptop) {
        width: calc(50% - 15px);
      }
    }
  }
}
.bg-ani-fixed{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
    @include alpha(0);
    display: block;
    animation: alpha01 0.5s 0.3s forwards linear;
  }
  .cirg1{
    position: absolute;
    left: -40vw;
    bottom: -18vw;
    animation: cirg1m 15s 0s infinite linear;
    width: 110vw;
    @include respond(laptop) {
      left: -19vw;
      bottom: -18vw;
      width: 51vw;
      animation: cirg1 22s 0s infinite linear;
    }
  }
  .cirg2{
    position: absolute;
    left: 60vw;
    bottom: -15vw;
    animation: cirg2m 18s 0s infinite linear;
    width: 90vw;
    @include respond(laptop) {
      width: 45vw;
      left: 3vw;
      bottom: -16vw;
      animation: cirg2 15s 0s infinite linear;
    }
  }
  .cirg3{
    position: absolute;
    right: -40vw; top: -30vw;
    width: 90vw;
    animation: cirg3m 20s 0s infinite linear;
    @include respond(laptop) {
      right: -30vw;
      top: -20vw;
      animation: cirg3 20s 0s infinite linear;
      width: 65vw;
    }
  }
  .cirg4{
    position: absolute;
    right: 60vw;
    top: 25vw;
    animation: cirg4m 20s 0s infinite linear;
    width:70vw;
    @include respond(laptop) {
      width: 36vw;
      right: 10vw;
      top: 25vw;
      animation: cirg4 18s 0s infinite linear;
    }
  }
}
.page-inf{
  display: flex;
  align-items: center;
  color: #888;
  font-size: 14px;
  @include respond(laptop) {
    font-size: 16px;
  }
  select{
    width: 70px;
    border-radius: 10px;
    border: 1px solid #eee;
    height: 40px;
    appearance: none;
    background: url("../image/selectar.svg") right 15px top 50% no-repeat;
    background-color:#FFF ;
    margin:0px 5px;
    display: block;
    padding: 0px 10px;
    font-size: 14px;
    @include respond(laptop) {
      font-size: 16px;
    }
  }
}
.link-area{
  display: flex;
  flex-wrap: wrap;
  a{
    font-size: 14px;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid $col-green2;
    color: $col-green2;
    @include bg_change(0.3s);
    @include respond(tablet) {
      font-size: 16px;
      padding: 8px 12px;
    }
    @include respond(laptop) {
      &:hover{
        background: $col-green2;
        color: #FFF;
        @include bg_change(0.3s);
      }
    }
  }
}
.table-style1{
  width: 800px;
  @include respond(tablet) {
    width: 100%;
  }
  td{
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }
  tr:nth-child(odd){
    td{
      background: #f7f7f7;
    }
  }
  tr:first-child{
    td{
      font-size: 16px;
      background: $col-green2;
      color: #FFF;
      font-weight: bold;
      &:first-child{
        border-radius: 10px 0px 0px 10px;
      }
      &:last-child{
        border-radius: 0px 10px 10px 0px;
      }
      @include respond(tablet) {
        font-size: 18px;
      }
    }
  }
  tr:last-child{
    td{
      border-bottom: 1px solid $col-green2;
    }
  }

}
.table-style2{
  width: 800px;
  @include respond(tablet) {
    width: 100%;
  }
  td{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #EEEEEE;
  }
  tr:first-child{
    td{
      font-size: 16px;
      background: $col-green2;
      color: #FFF;
      font-weight: bold;
      &:first-child{
        border-radius: 10px 0px 0px 10px;
      }
      &:last-child{
        border-radius: 0px 10px 10px 0px;
      }
      @include respond(tablet) {
        font-size: 18px;
      }
    }
  }
  tr:last-child{
    td{
      border-bottom: 1px solid $col-green2;
    }
  }

}
.mb-scroll{
  width: 100%;
  overflow: auto;
}
.page-number{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  a{
    margin: 0px 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    @include bg_change(0.3s);
    @include respond(laptop) {
      &:hover{
        background: $col-green2;
        color: #FFF;
        @include bg_change(0.3s);
      }
    }
  }
  .now{
    background: $col-green1;
    color: #FFF;
    &:hover{
      background: $col-green1;
      color: #FFF;
    }
  }
  .prev,.next{
    background: none;
    border: 1px solid $col-green2;
    svg {
      path {
        @include bg_change(0.3s);
      }
    }
    @include respond(laptop) {
      &:hover{
        svg{
          path{
            @include bg_change(0.3s);
            fill: #FFF;
          }
        }
      }
    }
  }
}
.sq-item{
  width: 100%;

  img,iframe{
    width: 100%;
    height: 100%;
    display: block;
    @include respond(laptop) {
      min-height: 400px;
    }
  }
}
.cta-short-txt{
  padding-top: 20px;
  h2{
    font-size: 18px;
    color: #064A2F;
    text-align: center;
  }
}
.footerbox{
  width: 100%;
  background: linear-gradient(135deg,  #8dbe32 0%,#31a851 100%);
  padding: 10px 20px;
  h6{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
  }
}
.pop-area{
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  .rel{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .center-box{
    width: 100%;
    max-width: 800px;
    background: #FFF;
    border-radius: 15px;
    position: relative;
    padding: 20px;
    .pop-title{
      text-align: center;
      color: $col-green2;
      font-size:30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .xx{
      cursor: pointer;
      position: absolute;
      right: 20px;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      background: $col-green2;
      border-radius: 50%;
      @include bg_change(0.3s);
      svg{
        width: 16px;
        height: auto;
      }
      &:hover{
        @include bg_change(0.3s);
        background: $col-green1;
      }
    }
    .short-right{
      text-align: right;
      color:#DB6363;
      span{
        color: #888;
        font-size: 14px;
      }
    }
    .send-btn{
      background: $col-green2;
      padding: 10px;
      color: #FFF;
      width: 200px;
      font-size: 18px;
      margin: 0 auto;
      border-radius: 30px;
      height: 50px;
      display: block;
      margin-top: 20px;
      @include bg_change(0.3s);
      &:hover{
        background: $col-green1;
        @include bg_change(0.3s);
      }
    }
    .polybox{
      border: 1px solid #EEEEEE;
      padding: 15px;
      background-color:#FFF ;
      height: 120px;
      resize: none;
      width: 100%;
      font-size: 16px;
      border-radius: 15px;
      margin-top: 10px;
    }
    .input-flex{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      p{
        flex: 0 0 auto;
        min-width: 110px;
      }
      input,select{
        cursor: pointer;
        border-radius: 10px;
        width: 100%;
        height: 45px;
        border: 1px solid #EEEEEE;
        padding: 0px 15px;
        background-color:#FFF ;
        font-size: 16px;
        @include respond(tablet) {
          height: 50px;
        }

      }
      select{
        appearance: none;
        background: url("../image/selectar.svg") right 15px top 50% no-repeat;
        background-color:#FFF ;
      }
    }
  }
}

@include respond(laptop) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $col-green2
  }
}